{
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "@typescript-eslint", "react", "react-hooks"],
  "extends": [
    "airbnb",
    "prettier",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "prettier/prettier": ["error"],
    "import/prefer-default-export": "off",
    "react/function-component-definition": "off",
    "react/jsx-filename-extension": [
      2,
      { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
    ],
    "react/react-in-jsx-scope": "off",
    "no-use-before-define": "off",
    "react/self-closing-comp": "off",
    "import/extensions": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "react/require-default-props": "off",
    "react/jsx-props-no-spreading": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "jsx-a11y/label-has-associated-control": "off"
  }
}
